<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="WebCV Metin OSMAN" />
	<meta name="keywords" content="CV,Metin OSMAN,IT Consultant">
	<meta name="author" content="Metin OSMAN" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,600italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
	<script type="text/javascript" src="js/modernizr.custom.js"></script>
	<script type="text/javascript" src="js/classie.js"></script>
	<script type="text/javascript" src="js/cbpAnimatedHeader.min.js"></script>
    <script type="text/javascript" src="js/Chart.js"></script>
	<title>Metin OSMAN</title>
</head>
<body>
	<div class="cbp-af-header">
	    <div class="cbp-af-inner">
            <a href="#"><h1><strong>Metin OSMAN</strong><br />Consultant IT</h1></a>
	        <nav class="clearfix">
	            <a href="#about-link">Présentation</a>
	            <a href="#experience-link">Parcours</a>
	        	<div class="emptyMenu"></div>
	            <a href="#skills-link">Compétences</a>
	            <a href="#contact-link">Contact</a>
	        </nav>
	        <a href="#" id="pull"></a> 
	    </div>
	</div>
	<div id="welcome" class="wrap">Bienvenue sur mon CV !</div>
	<a name="about-link" class="anchor">&nbsp;</a>
    <div id="about-title">
		<div class="wraptitle">
			<div class="js-background-1 test">
				<h2>Présentation</h2>
			</div>
		</div>
	</div>
    <div id="about" class="wrap">
		<img class="circle right" src="img/metinosman.jpg" alt="Metin OSMAN" width="30%" />
		<p class="orange"><strong>Bonjour,</strong></p>
        <p>Ing&eacute;nieur dipl&ocirc;m&eacute; de l'UTBM,  je suis sp&eacute;cialis&eacute; autour des technologies Java/JEE, de la conception applicative jusqu'&agrave; la mise en production, en passant par le suivi de projet et la r&eacute;alisation &agrave; proprement dite des applications.</p>  
        <p>Durant ces 9 dernières ann&eacute;es, j'ai eu l'occasion de participer à de nombreux projets, d'abord sur des applications Front, et plus r&eacute;cemment sur des middle-office grands publics avec de fortes contraintes en terme de QOS.<br /> Aujourd'hui, je travaille en tant qu'architecte dans le service VOD de Canal+.</p>
        <p>Je suis passionn&eacute; de musique (toutes les musiques) et je joue de la guitare depuis 20 ans.</p>
        <p>Enfin et surtout, j'ai la chance d'être le papa de deux merveilleux enfants !</p>
        <p class="signature orange">Metin</p>
	</div>
    
    <a name="experience-link" class="anchor">&nbsp;</a>
    <div id="experience-title">
        <div class="wraptitle">
            <div class="js-background-2 test"><h2>Parcours</h2></div>
        </div>
    </div>

    <div id="experience" class="wrap">
    </div>    
	
    <a name="skills-link" class="anchor">&nbsp;</a>
    <div id="skills-title">
		<div class="wraptitle">
			<div class="js-background-2 test"><h2>Compétences</h2></div>
		</div>
	</div>
	<div id="skills" class="wrap">
		<div class="skills-item">
            <canvas id="rolesChart"></canvas>
			<p class="title">Rôles</p>
			<p class="info" id="rolesChartlegend"></p>
			<!-- <a href="#inline1" class="readmore fancybox">Plus de détail</a> -->
		</div>
        <div class="skills-item">
            <canvas id="languagesChart"></canvas>
            <p class="title">Langages</p>
            <p class="info" id="languagesChartlegend"></p>
            <!-- <a href="#inline2" class="readmore fancybox">Plus de détail</a> -->
        </div>
         <div class="skills-item">
            <canvas id="devtoolsChart"></canvas>
            <p class="title">Usine logicielle</p>
            <p class="info" id="devtoolsChartlegend"></p>
            <!-- <a href="#inline3" class="readmore fancybox">Plus de détail</a> -->
        </div>
   </div>
    <div id="skills" class="wrap">
        <div class="skills-item">
            <canvas id="frontChart"></canvas>
            <p class="title">Fronts</p>
            <p class="info" id="frontChartlegend"></p>
            <!-- <a href="#inline4" class="readmore fancybox">Plus de détail</a> -->
        </div>
        <div class="skills-item">
            <canvas id="middleChart"></canvas>
            <p class="title">Middlewares</p>
            <p class="info" id="middleChartlegend"></p>
            <!-- <a href="#inline5" class="readmore fancybox">Plus de détail</a> -->
        </div>
        <div class="skills-item">
            <canvas id="datastoresChart"></canvas>
            <p class="title">Data stores</p>
            <p class="info" id="datastoresChartlegend"></p>
            <!-- <a href="#inline6" class="readmore fancybox">Plus de détail</a> -->
        </div>
    </div>
    <div id="skills" class="wrap">
        <div class="skills-item">
            <canvas id="testingtoolsChart"></canvas>
            <p class="title">Tests</p>
            <p class="info" id="testingtoolsChartlegend"></p>
            <!-- <a href="#inline7" class="readmore fancybox">Plus de détail</a> -->
        </div>
        <div class="skills-item">
            <canvas id="supervisionChart"></canvas>
            <p class="title">Sup, métrologie, analyse</p>
            <p class="info" id="supervisionChartlegend"></p>
            <!-- <a href="#inline8" class="readmore fancybox">Plus de détail</a> -->
        </div>
        <div class="skills-item">
            <canvas id="osChart"></canvas>
            <p class="title">OS</p>
            <p class="info" id="osChartlegend"></p>
            <!-- <a href="#inline9" class="readmore fancybox">Plus de détail</a> -->
        </div>
	</div>
	<div id="inline1" class="popupbox">
		<h3>Daisy</h3>
<!--		<img class="circle right" src="img/skills1.jpg" alt="Daisy" />-->
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Nulla et lorem eu nibh adipiscing ultricies nec at lacus. Cras laoreet ultricies sem, at blandit mi eleifend aliquam. Nunc enim ipsum, vehicula non pretium varius, cursus ac tortor. Vivamus fringilla congue laoreet. Quisque ultrices sodales orci, quis rhoncus justo auctor in. Phasellus dui eros, bibendum eu feugiat ornare, faucibus eu mi. Nunc aliquet tempus sem, id aliquam diam varius ac. Maecenas nisl nunc, molestie vitae eleifend vel, iaculis sed magna. Aenean tempus lacus vitae orci posuere porttitor eget non felis. Donec lectus elit, aliquam nec eleifend sit amet, vestibulum sed nunc.
		</p>
	</div>
	<div id="inline2" class="popupbox">
		<h3>Marigold</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Nulla et lorem eu nibh adipiscing ultricies nec at lacus. Cras laoreet ultricies sem, at blandit mi eleifend aliquam. Nunc enim ipsum, vehicula non pretium varius, cursus ac tortor. Vivamus fringilla congue laoreet. Quisque ultrices sodales orci, quis rhoncus justo auctor in. Phasellus dui eros, bibendum eu feugiat ornare, faucibus eu mi. Nunc aliquet tempus sem, id aliquam diam varius ac. Maecenas nisl nunc, molestie vitae eleifend vel, iaculis sed magna. Aenean tempus lacus vitae orci posuere porttitor eget non felis. Donec lectus elit, aliquam nec eleifend sit amet, vestibulum sed nunc.
		</p>
	</div>
	<div id="inline3" class="popupbox">
		<h3>Rose</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Nulla et lorem eu nibh adipiscing ultricies nec at lacus. Cras laoreet ultricies sem, at blandit mi eleifend aliquam. Nunc enim ipsum, vehicula non pretium varius, cursus ac tortor. Vivamus fringilla congue laoreet. Quisque ultrices sodales orci, quis rhoncus justo auctor in. Phasellus dui eros, bibendum eu feugiat ornare, faucibus eu mi. Nunc aliquet tempus sem, id aliquam diam varius ac. Maecenas nisl nunc, molestie vitae eleifend vel, iaculis sed magna. Aenean tempus lacus vitae orci posuere porttitor eget non felis. Donec lectus elit, aliquam nec eleifend sit amet, vestibulum sed nunc.
		</p>
	</div>
	<div id="inline4" class="popupbox">
		<h3>Tulip</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Nulla et lorem eu nibh adipiscing ultricies nec at lacus. Cras laoreet ultricies sem, at blandit mi eleifend aliquam. Nunc enim ipsum, vehicula non pretium varius, cursus ac tortor. Vivamus fringilla congue laoreet. Quisque ultrices sodales orci, quis rhoncus justo auctor in. Phasellus dui eros, bibendum eu feugiat ornare, faucibus eu mi. Nunc aliquet tempus sem, id aliquam diam varius ac. Maecenas nisl nunc, molestie vitae eleifend vel, iaculis sed magna. Aenean tempus lacus vitae orci posuere porttitor eget non felis. Donec lectus elit, aliquam nec eleifend sit amet, vestibulum sed nunc.
		</p>
	</div>
	<a name="contact-link" class="anchor">&nbsp;</a>
	<div id="contact-title">
		<div class="wraptitle">
			<div class="js-background-3 test"><h2>Me contacter</h2></div>
		</div>
	</div>
	<div id="contact" class="wrap">
        <div class="contact-item">
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/metinosman" data-format="inline" data-related="false"></script>
        </div>
	</div>
	<div class="footer">
		Template design by Veselka for <a href="http://andreasviklund.com" target="_blank">andreasviklund.com</a> | Best hosted at <a href="http://www.svenskadomaner.se" target="_blank">www.svenskadomaner.se</a>
	</div>

<script type="text/javascript">
	$(function() {  
	    var pull        = $('#pull');  
	        menu        = $('nav a');  
	        // menuHeight  = menu.height();  
	  
	    $(pull).on('click', function(e) {  
	        e.preventDefault();  
	        menu.slideToggle();  
	    }); 

	}); 
	$(window).resize(function(){  
	    var w = $(window).width();  
	    if(w > 320 && menu.is(':hidden')) {  
	        menu.removeAttr('style');  
	    }  
	});

	$(document).ready(function() {
		$('.fancybox').fancybox();
	});

	var $window = $(window);
	var velocity = 0.5;

	function update(){
	    var pos = $window.scrollTop();

	    $('.test').each(function() {
	        var $element = $(this);
	        var height = $element.height();

	        $(this).css('backgroundPosition', '0 ' + Math.round((-1 * pos) * velocity) + 'px');
	    });
	};

	$window.bind('scroll', update);


	var cbpAnimatedHeader = (function() {
 
        var docElem = document.documentElement,
            header = document.querySelector( '.cbp-af-header' ),
            didScroll = false,
            changeHeaderOn = 50;
     
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
     
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                classie.add( header, 'cbp-af-header-shrink' );
            }
            else {
                classie.remove( header, 'cbp-af-header-shrink' );
            }
            didScroll = false;
        }
     
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
            
        // Gestion des diagrammes
        Chart.defaults.global = {
            // Boolean - Whether to animate the chart
            animation: true,

            // Number - Number of animation steps
            animationSteps: 60,

            // String - Animation easing effect
            animationEasing: "easeOutQuart",

            // Boolean - If we should show the scale at all
            showScale: true,

            // Boolean - If we want to override with a hard coded scale
            scaleOverride: false,

            // ** Required if scaleOverride is true **
            // Number - The number of steps in a hard coded scale
            scaleSteps: null,
            // Number - The value jump in the hard coded scale
            scaleStepWidth: null,
            // Number - The scale starting value
            scaleStartValue: null,

            // String - Colour of the scale line
            scaleLineColor: "rgba(0,0,0,.1)",

            // Number - Pixel width of the scale line
            scaleLineWidth: 1,

            // Boolean - Whether to show labels on the scale
            scaleShowLabels: true,

            // Interpolated JS string - can access value
            scaleLabel: "<%=value%>",

            // Boolean - Whether the scale should stick to integers, not floats even if drawing space is there
            scaleIntegersOnly: true,

            // Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: false,

            // String - Scale label font declaration for the scale label
            scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

            // Number - Scale label font size in pixels
            scaleFontSize: 12,

            // String - Scale label font weight style
            scaleFontStyle: "normal",

            // String - Scale label font colour
            scaleFontColor: "#666",

            // Boolean - whether or not the chart should be responsive and resize when the browser does.
            responsive: true,

            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,

            // Boolean - Determines whether to draw tooltips on the canvas or not
            showTooltips: true,

            // Array - Array of string names to attach tooltip events
            tooltipEvents: ["mousemove", "touchstart", "touchmove"],

            // String - Tooltip background colour
            tooltipFillColor: "rgba(0,0,0,0.8)",

            // String - Tooltip label font declaration for the scale label
            tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

            // Number - Tooltip label font size in pixels
            tooltipFontSize: 14,

            // String - Tooltip font weight style
            tooltipFontStyle: "normal",

            // String - Tooltip label font colour
            tooltipFontColor: "#fff",

            // String - Tooltip title font declaration for the scale label
            tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

            // Number - Tooltip title font size in pixels
            tooltipTitleFontSize: 14,

            // String - Tooltip title font weight style
            tooltipTitleFontStyle: "bold",

            // String - Tooltip title font colour
            tooltipTitleFontColor: "#fff",

            // Number - pixel width of padding around tooltip text
            tooltipYPadding: 6,

            // Number - pixel width of padding around tooltip text
            tooltipXPadding: 6,

            // Number - Size of the caret on the tooltip
            tooltipCaretSize: 8,

            // Number - Pixel radius of the tooltip border
            tooltipCornerRadius: 6,

            // Number - Pixel offset from point x to tooltip edge
            tooltipXOffset: 10,

            // String - Template string for single tooltips
            tooltipTemplate: "<%if (label){%><%=label%><%}%>",

            // String - Template string for single tooltips
            multiTooltipTemplate: "<%= value %>",

            // Function - Will fire on animation progression.
            onAnimationProgress: function(){},

            // Function - Will fire on animation completion.
            onAnimationComplete: function(){}
        }
        // Get context with jQuery - using jQuery's .get() method.
                
        var radarOptions = {
            //Boolean - Whether to show lines for each scale point
            scaleShowLine : true,

            //Boolean - Whether we show the angle lines out of the radar
            angleShowLineOut : true,

            //Boolean - Whether to show labels on the scale
            scaleShowLabels : false,

            // Boolean - Whether the scale should begin at zero
            scaleBeginAtZero : true,

            //String - Colour of the angle line
            angleLineColor : "rgba(0,0,0,.1)",

            //Number - Pixel width of the angle line
            angleLineWidth : 1,

            //String - Point label font declaration
            pointLabelFontFamily : "'Arial'",

            //String - Point label font weight
            pointLabelFontStyle : "normal",

            //Number - Point label font size in pixels
            pointLabelFontSize : 10,

            //String - Point label font colour
            pointLabelFontColor : "#666",

            //Boolean - Whether to show a dot for each point
            pointDot : true,

            //Number - Radius of each point dot in pixels
            pointDotRadius : 3,

            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth : 1,

            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius : 20,

            //Boolean - Whether to show a stroke for datasets
            datasetStroke : true,

            //Number - Pixel width of dataset stroke
            datasetStrokeWidth : 2,

            //Boolean - Whether to fill the dataset with a colour
            datasetFill : true,

            //String - A legend template
            legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

        }
                
        var rolesData = {
            labels: ["Architecte applicatif", "Scrum master", "Lead Tech", "Chef de projet", "Intégrateur", "Développeur", "DevOps"],
            datasets: [
                {
                    label: "Rôles",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#51678e",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [90, 70, 50, 30, 30, 60, 90]
                }
            ]
        }
        var rolesCtx = $("#rolesChart").get(0).getContext("2d");
        var rolesChart = new Chart(rolesCtx).Radar(rolesData, radarOptions);

        var languagesData = {
            labels: ["Java", "Scala", "Groovy", "Javascript", "C#", "SQL", "Python", "Bash", "CSS", "HTML", "XML", "XSD", "XSLT", "YAML"],
            datasets: [
                {
                    label: "Languages",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#51678e",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [90, 50, 20, 70, 20, 30, 30, 60, 25, 80, 90, 80, 20, 50]
                }
            ]
        }
        var languagesCtx = $("#languagesChart").get(0).getContext("2d");
        var languagesChart = new Chart(languagesCtx).Radar(languagesData, radarOptions);
                
        var frontData = {
            labels: ["JSF", "HTML5/JS", "Play", "Grails"],
            datasets: [
                {
                    label: "Front technologies",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#51678e",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [30, 40, 30, 20]
                }
            ]
        }
        var frontCtx = $("#frontChart").get(0).getContext("2d");
        var frontChart = new Chart(frontCtx).Radar(frontData, radarOptions);

        var middleData = {
            labels: ["Java EE", "Spring", "Jersey", "IBatis", "Dozer", "Log4j", "Apache Commons", "Play", "Websphere", "Weskillsic", "JBoss", "Tomcat"],
            datasets: [
                {
                    label: "Middlewares",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#51678e",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [90, 70, 30, 30, 50, 60, 30, 30, 10, 20, 50, 70]
                }
            ]
        }
        var middleCtx = $("#middleChart").get(0).getContext("2d");
        var middleChart = new Chart(middleCtx).Radar(middleData, radarOptions);

        var datastoresData = {
            labels: ["Redis", "Memcached", "SolR", "Elastic Search", "Cassandra", "MongoDB", "Oracle", "MySQL", "Postgre", "MS SQL Server", "MS Access"],
            datasets: [
                {
                    label: "Datastores",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#51678e",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [70, 30, 50, 60, 50, 10, 70, 70, 40, 20, 20]
                }
            ]
        }
        var datastoresCtx = $("#datastoresChart").get(0).getContext("2d");
        var datastoresChart = new Chart(datastoresCtx).Radar(datastoresData, radarOptions);


        var devtoolsData = {
            labels: ["SaltStack", "AWS EC2 API", "Maven", "SBT", "Spacewalk", "Jenkins", "Bamboo", "Jira", "Confluence", "Stash", "SonarQube", "Sonatype Nexus"],
            datasets: [
                {
                    label: "Dev tools",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#51678e",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [70, 50, 70, 30, 50, 80, 80, 90, 90, 90, 50, 70]
                }
            ]
        }
        var devtoolsCtx = $("#devtoolsChart").get(0).getContext("2d");
        var devtoolsChart = new Chart(devtoolsCtx).Radar(devtoolsData, radarOptions);

        var testingtoolsData = {
            labels: ["JUnit", "TestNG", "Mockito/Easymock", "Selenium", "Gatling", "JMeter"],
            datasets: [
                {
                    label: "Testing tools",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#51678e",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [60, 50, 50, 20, 30, 60]
                }
            ]
        }
        var testingtoolsCtx = $("#testingtoolsChart").get(0).getContext("2d");
        var testingtoolsChart = new Chart(testingtoolsCtx).Radar(testingtoolsData, radarOptions);

        var supervisionData = {
            labels: ["ELK", "Splunk", "Collectd/Graphite/Grafana", "Nagios/Shinken/Thruk"],
            datasets: [
                {
                    label: "OS",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#51678e",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [60, 60, 70, 40]
                }
            ]
        }
        var supervisionCtx = $("#supervisionChart").get(0).getContext("2d");
        var supervisionChart = new Chart(supervisionCtx).Radar(supervisionData, radarOptions);

        var osData = {
            labels: ["CentOS/Redhat 6/7", "Ubuntu 14", "Solaris", "Windows 7", "MacOs X"],
            datasets: [
                {
                    label: "OS",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#51678e",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [80, 60, 10, 80, 60]
                }
            ]
        }
        var osCtx = $("#osChart").get(0).getContext("2d");
        var osChart = new Chart(osCtx).Radar(osData, radarOptions);

        init();
     
    })();


</script>
</body>
</html>